# Lab-2
<b>Operations on Arrays</b>

In [1]:
import numpy as np
import pandas as pd

In [87]:
# setup
apple_stocks_16 =pd.read_csv('AAPL-2016.csv')
apple_stocks_17 =pd.read_csv('AAPL-2017.csv')
apple_stocks_17_trimmed=apple_stocks_17.drop(apple_stocks_17.shape[0]-1)
print(apple_stocks_16.head())

         Date        Open        High         Low       Close   Adj Close  \
0  2016-01-04  102.610001  105.370003  102.000000  105.349998  100.274513
1  2016-01-05  105.750000  105.849998  102.410004  102.709999   97.761681
2  2016-01-06  100.559998  102.370003   99.870003  100.699997   95.848511
3  2016-01-07   98.680000  100.129997   96.430000   96.449997   91.803276
4  2016-01-08   98.550003   99.110001   96.760002   96.959999   92.288696

     Volume
0  67649400
1  55791000
2  68457400
3  81094400
4  70798000

In [61]:
# 1
arr_volume_16=np.array(apple_stocks_16['Volume'])
arr_volume_17=np.array(apple_stocks_17_trimmed['Volume'])
sum_16=arr_volume_16.sum(axis=0)
sum_17=arr_volume_17.sum(axis=0)
diff=abs(sum_16-sum_17)
print(f"2016: {sum_16}")
print(f"2017: {sum_17}")
print(diff)

2016: 9634995700
2017: 6784541800
2850453900

In [66]:
# 2
change=arr_volume_16-arr_volume_17
print(change.sum(axis=0))

2850453900

In [74]:
# 3
np.set_printoptions(formatter={'float': '{: 6.2f}'.format})
print(np.array(apple_stocks_16['Low']))

[ 102.00  102.41  99.87  96.43  96.76  97.34  98.84  97.30  95.74  95.36
  95.50  93.42  94.94  98.37  99.21  98.07  93.34  92.39  94.35  95.40
  94.28  94.08  95.19  93.69  93.04  93.93  94.10  92.59  93.01  94.61
  96.15  96.09  95.80  95.92  94.55  93.32  95.25  96.58  96.65  97.42
  99.64  100.45  101.37  100.96  100.40  100.27  100.15  101.50  101.78
  103.85  104.59  104.96  105.19  105.14  105.21  105.90  104.89  105.06
  104.88  108.60  108.88  108.20  110.27  109.42  109.20  108.12  108.17
  108.83  108.66  110.80  111.33  109.73  106.94  106.23  106.06  105.52
  104.62  104.51  103.91  95.68  94.25  92.51  92.40  93.68  93.82  92.68
  91.85  92.59  92.11  92.46  89.47  90.00  91.65  93.01  93.89  93.57
  94.52  95.67  96.84  98.11  98.64  99.25  98.82  98.33  96.63  97.45
  97.55  98.96  98.68  98.46  98.48  97.10  96.75  97.03  96.07  95.30
  95.03  94.68  95.35  95.25  92.65  91.50  92.14  93.63  94.30  95.33
  94.46  94.37  95.62  96.05  96.73  97.12  96.84  97.32  98.50  98.60
  99.34  99.74  99.13  98.31  96.92  96.42  102.75  102.82  103.68  104.41
  104.00  104.77  105.28  106.18  107.16  108.01  107.76  107.85  107.78
  108.08  109.21  108.34  109.02  108.36  107.85  108.53  107.68  106.68
  106.31  106.29  105.50  105.64  105.62  106.82  107.51  107.07  105.24
  103.13  102.53  107.24  108.60  113.49  114.04  113.25  112.51  112.44
  114.00  111.55  111.55  112.34  113.43  111.80  111.80  112.28  112.63
  112.69  113.13  113.51  114.72  116.20  116.75  115.72  117.13  116.78
  117.45  113.80  116.33  116.28  117.00  117.31  113.31  114.10  113.45
  113.20  110.53  111.23  109.55  108.11  109.46  109.70  108.05  105.83
  106.55  104.08  106.16  106.60  108.83  109.66  110.01  111.40  110.33
  110.95  111.39  110.07  110.27  109.03  108.85  108.25  109.19  109.16
  110.60  112.31  112.49  113.75  114.98  115.23  115.65  115.75  116.68
  116.78  115.64  115.59  116.49  116.20]

In [80]:
# 4
combined_years=pd.concat([apple_stocks_16,apple_stocks_17_trimmed])
combined_years

,Date,Open,High,Low,Close,Adj Close,Volume
0,2016-01-04,102.610001,105.370003,102.000000,105.349998,100.274513,67649400
1,2016-01-05,105.750000,105.849998,102.410004,102.709999,97.761681,55791000
2,2016-01-06,100.559998,102.370003,99.870003,100.699997,95.848511,68457400
3,2016-01-07,98.680000,100.129997,96.430000,96.449997,91.803276,81094400
4,2016-01-08,98.550003,99.110001,96.760002,96.959999,92.288696,70798000
...,...,...,...,...,...,...,...
245,2017-12-21,174.169998,176.020004,174.100006,175.009995,173.023026,20949900
246,2017-12-22,174.679993,175.419998,174.500000,175.009995,173.023026,16114600
247,2017-12-26,170.800003,171.470001,169.679993,170.570007,168.633423,33185500
248,2017-12-27,170.100006,170.779999,169.710007,170.600006,168.663101,21498200
249,2017-12-28,171.000000,171.850006,170.479996,171.080002,169.137650,16480200

In [86]:
# 5
combined_years.to_csv('APPL-2016-2017.csv',sep=',',index=False,float_format="{0:10.2f}".format)